*{
    margin:0;
    box-sizing: border-box;
}

main{

    width: 100%;
    height: 100vh;
    background: url('gym3.jpg');
    background-size: cover;
    background-position: center;  
    margin: 0;
}
.opacity{
    width: 100%;
    height: 100vh;
    background-color: black;
    opacity: 0.4;
}