.body{
    margin:0;
    
}

.main{
    background-image: url('bg-img.jpeg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width:100%;
    height: auto;

}